langchain-openai==0.3.16
langchain-core==0.3.60
langchain-community==0.3.23
langchain==0.3.25
langchain-pinecone==0.2.5
langchain-mcp-adapters==0.1.7
langgraph==0.4.1
mcp==1.9.3
neo4j==5.28.1
neo4j-graphrag==1.7.0
pandas==2.2.3
pinecone==6.0.2
python-dotenv==1.1.0
streamlit==1.46.1