# 환경 변수
.env
README.md

# 파일
teddy_note

# 캐시
__pycache__

# 불필요
.DS_Store
guideline.pdf
answer.json
grouped_pages.json
output.csv
question_context.json
data
20240416_data_v1
20240424_data_v2
mps_test.ipynb
pubmed_airway_management_infant.csv
소아마취_QA(점검완)_윤왕규.xlsx
merged_all.xlsx
학술지
학술지_upstage
학술지_QnA.csv
학술지_QnA_1.csv
patient_surgery_summary_filled 복사본.csv

# db
edit_db
origin_db

마취관련_키워드_샘플.xlsx